.Forecast {
  text-align: center;
  margin-top: 20px;
  background-color: #38404c;
  border-radius: 10px;
}

.WeatherForecast-day {
  margin-top: 10px;
  margin-bottom: 5px;
}
.WeatherForecast-temp {
  margin-bottom: 10px;
}
.WeatherForecast-temp-min {
  opacity: 0.6;
}

.WeatherForecast-temp-max {
  margin-left: 5px;
}
