.weather {
  padding: 10px;
}
.weather form {
  margin-bottom: 20px;
}
.weather h1 {
  font-size: 34px;
  font-weight: 100;
  line-height: 2;
  margin: 20px 0 0 0;
}

.weather .icon {
  margin-right: 50px;
}

.weather .temperature {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 32px;
}

.weather .unit {
  position: relative;
  margin-top: 20px;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  list-style: none;
}

a:link {
  text-decoration: none;
}

.item {
  opacity: 0.5;
}
